/*
 * reset
 */
html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
}

/*
 * global
 */
body {
  color: #333;
  background-color: #fff;
  font-family: 'Pontano Sans', sans-serif;
}

a {
  color: #48c;
  text-decoration: none;
}
a:hover {
  color: #4cf;
  text-decoration: underline;
}

/*
 * header
 */
header {
  width: 100%;
  margin-bottom: 50px;
  color: #eee;
  background-color: #333;
  height: 60px;
}
header h1 {
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  width: 960px;
  margin: 0 auto;
}
header nav {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 30px;
}
header nav > ul > li {
  float: left;
  width: 150px;
}
header nav > ul > li > a {
  display: block;
  height: 60px;
  line-height: 60px;
  color: #eee;
  text-align: center;
  border-right: 1px solid #aaa;
}
header nav > ul > li > a:hover {
  color: #fff;
  background-color: #666;
  text-decoration: none;
}
header nav > ul > li:first-child > a {
  border-left: 1px solid #aaa;
}
header nav > ul > li > ul > li {
  width: 150px -1;
  border: 1px solid #aaa;
  border-top: none;
}
header nav > ul > li > ul > li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
}

/*
 * contents
 */
.contents {
  max-width: 960px;
  margin: 0 auto;
}
.contents h3 {
  line-height: 2em;
  margin: 50px 0 15px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 0 #eee;
}

/*
 * slideshow
 */
.slideshow li {
  display: none;
}
.slideshow li:first-child {
  display: block;
}

/*
 * photos
 */
.photos ul {
  overflow: hidden;
  width: 960px;
}
.photos ul li {
  float: left;
  width: 180px;
  margin-left: 15px;
}
.photos ul li:first-child {
  margin-left: 0;
}
.photos ul li img {
  width: 100%;
}

/*
 * tabs
 */
.tabs .tabList {
  border-left: 1px solid #cccccc;
  overflow: hidden;
}
.tabs .tabList li {
  float: left;
  width: 200px;
  height: 2em;
  line-height: 2em;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.tabs .tabList li.active {
  background-color: #eee;
}
.tabs .tabList li:hover {
  background-color: #ddd;
}
.tabs .tabList li a {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.tabs .tabBody {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 15px;
}
.tabs .tabBody li {
  display: none;
}
.tabs .tabBody li.active {
  display: block;
}

/*
 * about
 */
.about ul, .about ol {
  margin-left: 2em;
}
.about ul li, .about ol li {
  margin: 5px 10px 5px;
}
.about ul > li {
  list-style: disc;
}
.about ol > li {
  list-style: decimal;
}

/*
 * page top button
 */
#pageTop {
  position: fixed;
  left: 50%;
  bottom: 20px;
  margin-left: 448px;
}
#pageTop img {
  width: 32px;
  height: 32px;
}

/*
 * footer
 */
footer {
  width: 100%;
  margin-top: 50px;
  padding: 50px 0;
  text-align: center;
  color: #eee;
  background-color: #666;
}
